clip==0.2.0
datasets==2.19.2
diffusers==0.29.0
einops==0.7.0
imageio==2.34.1
matplotlib==3.9.0
opencv-python==4.10.0.84
packaging==24.0
pandas==2.2.2
protobuf==3.20.1
pytorch-fid==0.3.0
safetensors==0.4.3
scikit-image==0.23.2
scikit-learn==1.5.0
scipy==1.13.0
seaborn==0.13.2
timm==0.6.13
tokenizers==0.19.1
tomlkit==0.12.0
toolz==0.12.1
torch==2.1.2
torchattacks==3.5.1
torchaudio==2.1.1
torchmetrics==1.3.2
torchvision==0.16.1
tqdm==4.66.2
transformers==4.40.1
wandb==0.17.2